/* .Customizer__Frame {
  transition: ease 0.5s;
}
.Customizer__Frame--Next {
  display: none;
  opacity: 0;
}
.Customizer__Frame--Active {
  opacity: 1;
}
.Customizer__Frame--Previous {
  display: none;
  opacity: 0; 
} */

.Customizer__Option {
  border: 1px solid lightgray;
  text-align: center;
  cursor: pointer;
}

.Customizer__Product {
  text-align: center;
  padding: 1em 0;
}
.Customizer__OptionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.Customizer__Option img {
  width: 100%;
}

.Customizer__View {
}

.Product__Header {
  padding: 10px 0;
}
.ProgressBar__Container {
  background-color: black;
  border-radius: 13px;
  padding: 3px;
  margin: 10px;
}
.ProgressBar__Inner {
  background-color: #5b8499;
  height: 20px;
  border-radius: 10px;
}
.Customizer__Controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em 0;
}
.btn {
  margin: auto;
}
.CustomizerIcons {
  padding: 1em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
h4 {
  padding-top: 10px;
}
.CustomizerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.CustomizerIcon {
  padding: 10px;
  color: white;
  border-radius: 20px;
  background: lightgray;
  position: relative;
}

.CustomizerIcon--Active {
  background: #5b8499;
}
.something {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.something:after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: lightgray;
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: -1;
}

.outline {
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 4px solid white;
  border-radius: 50%;
}

.Customizer__Frame--Inactive {
  display: none;
}

.GroupContainer {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.Customizer__Option {
  transform: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  border: 1px solid lightgray;
  padding: 1em;
}

.Customizer__Option--Active {
  border: 1px solid #5b8499;
}
.GroupItem__Image {
  width: 100%;
}
.GroupItem__Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h3,
h4 {
  padding: 0;
  margin: 0;
}

.Customizer__VariantsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
.Icon__Title {
  padding: 0.5em 0;
}
