/* 

Background: d7e5e6
Tab Header: 707070
Accordian HEader: f4f4f2

*/
.Customizer__Container {
  background-color: #d7e5e6;
  padding: 2em;
  margin: 2em 0;
  display: grid;
  grid-gap: 1em;
}
.Selections__Container {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-gap: 2em;
}
.SelectedProducts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
.DisplayImage {
  width: 100%;
  border: 1px solid black;
}
.Tab__Headers {
  display: flex;
}
.Tab__Header {
  cursor: pointer;
  padding: 1em;
  background-color: #707070;
  color: white;
  margin-right: 1em;
  border-radius: 0px 15px 0px 0px;
}
.Tab__Header--Active {
  background-color: white;
  color: black;
}

.Tab__Sections {
  background: white;
  padding: 10px 0;
  display: grid;
  grid-gap: 10px;
}

.Tab__SectionHeader {
  cursor: pointer;
  background: #f4f4f2;
  display: flex;
  padding: 2px 0;
}
.Tab__SectionHeader--Active {
}
.Tab__SectionContainer {
  display: none;
}
.Tab__SectionContainer--Active {
  display: block;
}
