<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello World!</title>
    <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@5.2.0/dist/styles.css" />

</head>

<body>
    <!-- This is handlebars -->
    <div id="root"></div>
    <script src="./admin.js"></script>
</body>

</html>