<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello World!</title>
    <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@5.10.1/dist/styles.css" />

</head>

<body>
    <!-- This is ejs -->
    <div id="root"></div>
    <script>
        window.authToken = "<%=authToken%>";
        <% if (locals.installUrl) { %>
            window.update = "<%=installUrl%>";
        <% } %>
    </script>
    <script src="<%=host%>/admin.js"></script>
</body>

</html>