{% section 'App_Teacher_Signup_Header' %}
{% section 'App_Teacher_Signup_Steps' %}
{% section 'App_Teacher_Signup_Benefits' %}

<!-- This is ejs -->
<div id="root"></div>
<script src="/community/application/javascript"></script>